# Ignore RStudio project files at any level
**/.Rproj.user/
**/.Rhistory
**/.RData
**/*.Rproj
**/.Renviron

# R environment
.Renviron
.Rproj.user
3_Primer_comparison/all_stats_uni.tsv.gz
ENA/PRJEB75753/PRJEB75753_stats.tsv.gz
ENA/PRJEB82097/PRJEB82097_stats.tsv.gz
ENA/PRJEB85420/PRJEB85420_stats.tsv.gz
ENA/PRJEB85714/PRJEB85714_stats.tsv.gz
1B-C_Toti_WGS/all_stats_uni.tsv.gz
1_Dog.M0_WGS/all_stats_uni.tsv.gz
